@media screen and (max-width: 1400px) {
    .footer-navigation {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .main-nav-list li {
        margin: 5px 0;
    
    }
    .center-div {
        width: 90%;
    }

    .delivery-info {
        min-height: 140px;
        height: 100%;
        flex-direction: column;
    }

    .track-link-left {
        display: none;
    }

    .track-link-right {
        display: block;

    }
}

@media screen and (max-width: 1024px) {

    .logo-svg {
        margin-left: 10px;
    }

    .sidebar-info {
        width: 25%;
    }

    .orders-main {
        width: 75%;
    }

    .order-product-card {
        height: 150px;
        margin: 10px 10px;
        position: relative;
        width: 125px;
    }

    .product-photo {
        height: 100px;
        width: auto;
    }

    .order-product-link {
        font-family: SF UI Display;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    .footer-navigation {
        padding: 40px 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .footer-navigation div {
        margin-left: 50px;
    }

    .sidebar-info {
        margin-right: 60px;
    }

}

@media screen and (max-width: 768px) {
    .order-card-header {
        flex-wrap: nowrap;
        height: 180px;
    }

    .suport-svg {
        width: 150px;
        height: auto;
    }

    .order-state {
        font-family: SF UI Display;
        font-size: 14px;
        line-height: 17px;
    }

    .order-date {
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 19px;
    }

    .total-price {
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 19px;

    }

    .total-price-heading,
    .total-price {
        text-align: left;
        margin-left: 20px;
        margin-top: 0;
    }
}

@media screen and (max-width: 733px) {

    .center-div {
        width: 100%;
    }
    .sidebar-info {
        display: none;
    }

    .orders-main {
        width: 100%;
    }

    .ordered-products {
        flex-direction: column;
    }

    .order-product-card {
        width: 90%;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .product-photo {
        object-fit: contain;
    }

    .ordered-product-link {
        margin-top: 40px;
        margin-left: 50px;
        
    }

    .order-card {
        background-color: #F8F8F8;;
    }

    .main-nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .logo-svg {
        margin: 10px 0;
    }

    .basket-svg {
        margin: 10px 0;
    }

    .headers {
        margin-left: 20px;
    }

    .dropdown-container {
        margin-left: 20px;
    }

    .dropdown-selected {
        margin-left: 20px;
    }

    .orders-heading-bought {
        display: none;
    }

    .category-svg-link {
        display: none;
    }
    .category-link {
        display: block;
    }

    .social-media {
        display: none;
    }

    .next-page-transition {
        display: none;
    }

    .footer-navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        min-height: 240px;
        height: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .footer-navigation-accessories ul,
    .footer-navigation-services ul, 
    .footer-navigation-iphone ul, 
    .footer-navigation-mac ul, 
    .footer-navigation-ipad ul, 
    .footer-navigation-common ul{
        display: none;
        margin: 20px 0 20px 30px;
    }

    .footer-navigation-accessories,
    .footer-navigation-services, 
    .footer-navigation-iphone, 
    .footer-navigation-mac, 
    .footer-navigation-ipad, 
    .footer-navigation-common {
        margin-left: 0;
        position: relative;
    }

    .footer-nav-heading-button {
        display: block;
        background-color: #414141;
        color: #fff;
        font: normal 600 14px/17px SF UI Display;
        width: 100%;
        margin: 0;
        height: 40px;
        padding: 0 20px;
        border: 0;
        border-bottom: 1px solid #fff;
        display: flex;
        justify-content: space-between;
    }

    .footer-nav-heading-button:focus {
        outline: none;
    }

    .footer-nav-heading {
        display: none;
    }

    .meta {
        display: none;
        position: relative;
    }

    .meta-mobile {
        display: block;
        margin: 20px auto 0 auto;
        font-family: SF UI Display thin;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 110%;
        color: #fff;
        width: 220px;
        height: 70px;
    }

    .meta-mobile a {
        position: relative;
        left: 10px;
        right: 0;
        top: -5px;
        color: #fff;
        line-height: 30px;
        margin: 0 auto;
    }

    .meta-mobile p {
        position: relative;
        bottom: -10px;
        text-align: center;
    }

    .footer-navigation {
        margin-top: 50px;
    }

    .dropdown-arrow-footer {
        filter: invert(100%);
        margin-right: 20px;
    }
    .footer-navigation div {
        margin-left: 0;
    }

}
