@font-face {
    font-family: 'SF UI Display';
    src: url('fonts/SF UI/SFUIDisplay-Regular.ttf');
}

@font-face {
    font-family: 'SF UI Display thin';
    src: url('fonts/SF UI/SFUIDisplay-Thin.ttf');
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background: #1F1F1F;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    width: 100%;
}

.main-nav-list {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.main-nav-list li {
    margin: 5px 60px;
}

.main-nav-list a {
    color: #FFF;
    font: 14px/17px SF UI Display;
}

.burger-menu {
    display: none;
}

.logo-svg {
    margin: auto 0 auto 135px;
}

.basket-svg {
    margin: auto 190px auto 0;
}

.products-list {
    direction: row;
    display: flex;
    justify-content: space-between;
    margin: 20px 135px;
}

.products-list-element {
    padding: 10px;
    width: 78px;
}

.category-link {
    display: none;
}

.sidebar-info {
    font: 18px SF UI Display;
    margin: 60px 100px 0 135px;
    position: absolute;
    width: 230px;
}

.sidebar-link {
    color: #000;
}

.sidebar-link:hover {
    color: #5A00A5;
}

.sidebar-name-of-list {
    font-weight: 600;
}

.sidebar-personal-info {
    margin-bottom: 35px;
}

.sidebar-info-list-element {
    margin-top: 15px;
}

.orders-main {
    height: 100%;
    left: 435px;
    position: relative;
    top: 55px;
    width: 870px;
}


.orders-heading {
    color: #5A00A5;
    font: 600 24px/29px SF UI Display;
}

.orders-heading-bought {
    color: #000;
    font: 600 24px/29px SF UI Display;
    margin-left: 115px;
}

.headers {
    direction: row;
    display: flex;
    margin-bottom: 35px;
}

.orders-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}

.order-card {
    background: #F8F8F8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 65px;
    min-height: 570px;
    position: relative;
    width: 100%;
}

.order-card-header {
    background: #EBECEF;
    height: 130px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.dropdown {
    border: 1px solid #ccc;
    cursor: pointer;
    height: 40px;
    width: 310px;
    z-index: 2;
}

.dropdown-selected {
    font: 18px SF UI Display;
    left: 15px;
    position: absolute;
    top: 74px;
}

.dropdown-arrow {
    float: right;
    margin: 15px;
}

.option {
    background: #FFF;
    border: 1px solid #ccc;
    border-bottom: 0;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    width: 310px;
    z-index: 2;
}

.dropdown-element-li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
}

.dropdown-element {
    color: #000;
    font: 18px SF UI Display;
}

.dropdown-element-li:hover, 
.dropdown-element:hover {
    background: #F8F0FF;
    border: 1px solid #5A00A5;
}

.dropdown-element-li-all {
    background: #EBECEF;
    border: 1px solid #CFCFCF;
}

.dropdown-element:hover {
    border: 0;
}

.order-date {
    top: 20px;
    color: #000;
    font: 700 22px/26px SF UI Display;
    margin: 20px 15px 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.order-date-opening-link {
    color: #000;
}

.order-number {
    color: #000;
    font: 16px/19px SF UI Display;
    margin-left: 20px;
}

.order-state-formed::before  {
    content: "СФОРМИРОВАН";
    background: #F8F8F8;
    color: #000;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    padding: 3px;
    width: 126px;
}

.order-state-sent::before  {
    content: "ПЕРЕДАН В ДОСТАВКУ";
    background: #F8F8F8;
    color: #000;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
    width: 126px;
}

.order-state-forming::before  {
    content: "В ОБРАБОТКЕ";
    background: #F8F8F8;
    color: #000;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    padding: 3px;
    width: 126px;
}

.order-state-waiting::before  {
    content: "ОЖИДАЕТ ОПЛАТЫ";
    background: #F8F8F8;
    color: #000;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    padding: 3px;
    width: 126px;
}

.order-state-done::before {
    content: "ВЫПОЛНЕН";
    background: #4EE478;
    color: #000;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    padding: 3px;
    width: 90px;
}

.order-state-canceled::before {
    content: "ОТМЕНЕН";
    background: #EE290E;
    color: #fff;
    font: 16px/50px SF UI Display;
    margin-left: 20px;
    padding: 3px;
    width: 75px;
}

.suport-svg {
    bottom: 15px;
    left: 210px;
    position: absolute;
}

.total-price-heading {
    font: 16px/19px SF UI Display;
    position: absolute;
    right: 20px;
    top: 40px;
}

.total-price {
    bottom: 40px;
    color: #000;
    font: 600 22px/26px SF UI Display;
    position: absolute;
    right: 20px;
}

.delivery-info {
    left: 20px;
    position: absolute;
    top: 150px;
    width: 90%;
    max-height: 300px;
    height: 100%;
}

.expected-date-heading {
    width: 250px;
}

.expected-date-heading, 
.delivery-state, 
.reciever-heading {
    font: 600 18px/21px SF UI Display;
}

.expected-date {
    font: 16px/19px SF UI Display;
    margin-top: 10px;
}

.track-link {
    background: #F8F0FF;
    border-radius: 4px;
    color: #5A00A5;
    font: 600 18px/14px SF UI Display;
    padding: 12px 44px;
    position: relative;
    top: 60px;
    text-align: center;
}

.track-link:hover, 
.track-link:focus {
    background: #5A00A5;
    color: #FFF;
}

.delivery-state {
    left: 500px;
    position: relative;
    top: -50px;
    white-space: nowrap;
    width: 310px;
    margin: 0;
}

.delivery-address {
    font: 16px/19px SF UI Display;
    left: 500px;
    position: relative;
    top: -40px;
    white-space: normal;
    width: 310px;
    margin: 0;
}

.delivery-courier::before {
    content: "Доставка курьером";
}

.delivery-self::before {
    content: "Доставка почтой";
}

.delivery-dl::before {
    content: "Доставка DHL";
}

.reciever-heading {
    left: 500px;
    position: relative;
    top: -30px;
    width: 310px;
    margin: 0;
}

.reciever {
    font: 16px/19px SF UI Display;
    left: 500px;
    position: relative;
    top: -20px;
    white-space: nowrap;
    width: 310px;
    margin: 0;
}

.reciever-phone {
    font: 16px/19px SF UI Display;
    left: 500px;
    position: relative;
    top: -10px;
    white-space: nowrap;
    width: 310px;
    margin: 0;
}

.bill-table {
    display: none;
    /* display: none; */
    font: 16px/19px SF UI Display;
    width: 300px;
    height: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 500px;
    top: 30px;
}

.bill-table p{
    width: 150px;
    margin-top: 20px;
}

.bill-table-products-heading,
.bill-table-delivery-state,
.bill-table-totally-heading {
    width: 150px;
}

.bill-table-totally-heading,
.bill-table-totaly {
    font: 600 22px/26px SF UI Display;
}


.order-product-card {
    height: 190px;
    margin: 35px 20px;
    position: relative;
    width: 160px;
}

.product-quantity {
    font: 18px/21px SF UI Display;
    display: block;
    position: relative;
    height: 20px;
    width: 100px;
    margin: 70px 120px 70px 50px;
}

.product-price {
    font: 600 18px/21px SF UI Display;
    display: block;
    margin: 70px 0;
}

.model-color {
    font: 16px/20px SF UI Display;
}

.ordered-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    left: 35px;
    margin-top: 310px;
    position: relative;
    right: 35px;
    width: 100%;
}

.product-quantity,
.product-price,
.model-color {
    display: none;
}

.product-photo {
    height: 140px;
    width: auto;
}

.ordered-product-link {
    font: 18px/20px SF UI Display;
    /* margin: 0 0 0 60px; */
    text-align: left;
}

.next-page-transition {
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 20px;
}

.next-page-transition p {
    font: 18px SF UI Display;
    margin-right: 10px;
}

.footer-nav-heading-button {
    display: none;
}

.footer-navigation {
    margin-top: 200px;
    position: relative;
    background: #414141;
    width: 100%;
    color: #FFF;
    height: 380px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-info {
    position: relative;
    background: #1F1F1F;
    width: 100%;
    color: #ffffff;
    height: 110px;
    bottom: 0;
}

.footer-navigation-accessories {
    margin: 45px 60px 0 140px;
}

.footer-navigation-services, 
.footer-navigation-iphone, 
.footer-navigation-mac, 
.footer-navigation-ipad, 
.footer-navigation-common {
    margin: 45px 32px 0;
}

.footer-navigation-ipad {
    margin: 45px 32px 0 92px;
}

.footer-nav-element {
    color: #FFF;
    font: 14px/22px SF UI Display thin;
}

.footer-nav-heading {
    color: #FFF;
    font: 600 14px SF UI Display;
    line-height: 40px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meta {
    margin: auto 0;
    color: #FFF;
    font: normal normal 14px 'PT Sans', sans-serif;
    letter-spacing: 0.025em;
}

.social-media {
    margin: auto 70px;
}

.social-media a {
    margin: 0 8px;
}

.meta-mobile {
    display: none;
}